<div class="card mb-4 m-5" id="navWidht">
    <div class="card-header">
<nav class="nav flex-column" >
    <a class="nav-link active" aria-current="page" href="/dashbord"><i class="fas
                            fa-tachometer-alt"></i>  Dashbord</a>
    <a class="nav-link" href="/"><i class="bi
                            bi-person-lines-fill"></i>  Professeurs</a>
    
   
  </nav>
</div>
</div>