
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
        <!-- CSS only -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous">



        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet"
            href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <link
            href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
            rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
            crossorigin="anonymous"></script>

        <link rel="stylesheet" href="fonts/icomoon/style.css">

        <link rel="stylesheet" href="css1/owl.carousel.min.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css1/bootstrap.min.css">

        <!-- Style -->
        <link rel="stylesheet" href="css1/style.css">

        <title>View professeurs</title>
        
        <style type="text/css">
       .backg {
           background-color: #f8fafb;
        }
        .imgr {
           border-radius: 50%;
        }
        aside{
            float: right;
            width: 85%;
        }
        .cs{
           
            width: 15%;
            position:absolute;
            height: 100%;
        }
        .cm{
         
           
          margin-left: 20px;
          margin-bottom: 30px;
           
       }
        
    </style>
    </head>

    <body class="sb-nav-fixed">

        <%- include('partials/header.ejs') %> 

   
            
                <nav class="sb-sidenav accordion sb-sidenav-dark cs" style="background-color:#28a745;">
                    <div class="sb-sidenav-menu">
                        <div class="nav ">
                            <div class="sb-sidenav-menu-heading text-light cm col-md-12"> <strong class="text-light"> Core</strong>
                                <a class="nav-link text-light" href="/dashbord">
                                    <div class="sb-nav-link-icon text-light"><i class="fas
                                            fa-tachometer-alt"></i></div>
                                            Dashbord	   
                                </a>
                            </div>
                            <div class="sb-sidenav-menu-heading text-light cm col-md-12"><strong>Interface</strong></div> 
                            <div class="sb-sidenav-menu-heading text-light cm col-md-12"> 
                                <a class="nav-link" href="/">
                                    <div class="sb-nav-link-icon text-light"><i class="bi bi-person-lines-fill"></i><strong class="text-light"> Professeurs</strong></div>
                                            
    
                                </a>
    
                            </div>
                            

                        </div>
                    </div>

                </nav>
            
            
                <aside>


                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i> DataTable
                        </div>
                        <div style="margin-left: 100px;margin-top: 30px;"
                            class="card-body col-8">
                            <h1>view professeur</h1>
                                <% rows.forEach(function(e){ %>



                                    <div class="card text-bg-light mb-3"
                                        style="max-width: 18rem;">
                                        <div class="card-header">Professeur</div>
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                Nom :
                                                <%= e.nom %>
                                                </h5>
                                                <p class="card-text">
                                                    Prenom:
                                                    <%= e.prenom %>
                                                    </p>
                                                    <div class="card-text">
                                                        Photo :

                                                        <img src="../upload/<%=
                                                                e.photo %>"
                                                        width="200px"
                                                        height="200px" />
                                                    </div>

                                                </div>
                                            </div>



                                            <% }); %>
                                            </div>
                                        </div>
                                    
                                </aside>
                                    
                               

                            




                            <script src="js1/jquery-3.3.1.min.js"></script>
                            <script src="js1/popper.min.js"></script>
                            <script src="js1/bootstrap.min.js"></script>
                            <script src="js1/main.js"></script>
                            <script
                                src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                                crossorigin="anonymous"></script>
                            <script src="js/scripts.js"></script>
                            <script
                                src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
                                crossorigin="anonymous"></script>

                            <script
                                src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
                                crossorigin="anonymous"></script>
                            <script src="js/datatables-simple-demo.js"></script>
                        </body>

                    </html>