 #navWidht{
    visibility: hidden;
    height:0px;
}

@media only screen and (min-width:200px) and (max-width:993px) {
    #navWidht{
        visibility: visible;
        height:auto;
        text-align:center;
        background-color:white; 
        width:auto;
    }
    #navWidht a{
        color:black;
    }
    #h1liste{
        font-size:11px;
    }
    #btnliste{
        font-size:10px;
        width:auto;
        height:auto;
    }
    #divpro h4{
        font-size:16px;
    }
    .btnwidht{
        width:50px;
        font-size:11px;
    }
    .btnwidhtd{
        width:54px;
        font-size:10px;
    }
    #editwidht{
        width:auto;
    }
    
  }